html,body,div,ul,li,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
html{
   background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);;
    font-size: 100px;
    height: 100%;
    width: 100%;
}
/*公共部分*/
p{
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
ul span{
    user-select: none;
    -webkit-user-select: none;
    list-style: none;
}
ul,li{
    list-style: none;
}
input{
    outline: none;
}
a{
    text-decoration: none;
}
.clearFix::after{
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0;
    display: block;
    overflow: hidden;
}
/*顶部css*/
.header{
    width: 100%;
    margin: 1rem auto;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}
.contains{
    width: 7rem;
    height: 4.2rem;
    box-shadow: 2px 2px 3px #ccc;
    position: relative;
    box-sizing: border-box;
    margin: 100px auto;
    font-size: .11rem;
    border-radius: 5px;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}
.contains .top{
    width: 100%;
    height: .3rem;
    box-sizing: border-box;
    padding: .05rem;
}
.top input{
    height: .18rem;
    line-height: .18rem;
    padding: 0 .05rem;
    text-align: center;
    border-radius: 5px;
    background-color: #d7c1e1;
}
.top b{
    color: red;
}
/*中间部分*/
[v-cloak] {
    display: none;
}
.contains .middle{
    width: 100%;
    height: 2.25rem;
    box-sizing: border-box;
    padding: 0 .1rem;
}
.contains .middle ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.contains .middle li{
    height: 100%;
    box-sizing: border-box;
    border-right: .5px solid rgba(253,253,253,.65);
    flex: 1;
    padding-top: .15rem;
}
.contains .middle li:first-child{
    flex: 1.5;
    font-size: .15rem;
    font-weight: bold;
    color: #2136f3;
    padding-top: .05rem;
}
.contains .middle li:first-child img{
    margin-left: 45px;
}
.contains .middle h5{
    font: .15rem normal;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
}
.contains .middle h6{
    font:  .13rem normal;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
}
.contains .middle img{
    width: .5rem;
    height: .5rem;
    margin: 0 .15rem;
}
.contains .middle p{
    width: 100%;
    height: .25rem;
    line-height: .25rem;
}
.contains .bottom{
    position: relative;
    height: 1.75rem;
    width: 100%;
    padding-left: .2rem;
    box-sizing: border-box;
    background: #856b9f21;
}
/*底部*/
.bottom .router-show {
    width: 7rem;
    box-sizing: border-box;
    padding: 0 .1rem;
    margin-top: -.1rem;
}
.bottom .router-show .sort{
    display: none;
    height: 1.5rem;
}
.bottom .router-show .index{
    left: 0;
    padding-top: .15rem;
    box-sizing: border-box;
    font-size: .16rem;
}
.bottom .router-show .index li{
    position: relative;
    width: 43%;
    float: left;
    margin-right: 5%;
    height: .4rem;
    line-height: .4rem;
    border-bottom:0.5px dashed #318b29e0;
    box-sizing: border-box;
}
.bottom .router-show .index li:hover{
    cursor: pointer;
}
.bottom .router-show .index p{
    position: absolute;
    top: 0;
    left: .1rem;
    color: #4c68af;
}
.bottom .router-show .index .details{
    position: absolute;
    top: .42rem;
    left: .66rem;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 1px #9ea2a6;
    color: #000;
    line-height: .18rem;
    padding: .1rem;
    font-weight: bold;
    font-size: .13rem;
    background: #dfe9f3;
}
.bottom .router-show .index .details::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -.1rem;
    z-index: -5;
    border-bottom: .15rem solid #dfe9f3;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;;
}
.bottom a{
    color: #fafffb;
    text-align: center;
    float: left;
    height: .25rem;
    line-height: .25rem;
    margin: 0 .03rem;
    padding: 0 .08rem;
    font-size: .12rem;
    border-radius: 5px;
    background-color: #2136f3ab;
}
.bottom .nav-bottom{
    margin: -.07rem .1rem;
    overflow: hidden;
}
 .bottom .nav-bottom .select{
     background-color: rgba(35, 243, 77, 0.67);
}
.bottom #temp{
    width: 6.5rem;
    height: 2rem;
    position: absolute;
    top:-.25rem;
    left: -.25rem;
}
.bottom .sort{
    position: relative;
    overflow: hidden;
}
.bottom .router-show .index{
    overflow: visible;
}

